.board {
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  height: 100vh;
  margin-top: 30px;
  padding: 10px;
  
  &:first-child {
    margin-left: 50px;
  }

  &__list {

    &-title {
      font-family: monospace;
      font-size: 18px;
      font-weight: bold;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }

    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    min-height: 500px;
    padding: 5px;
    width: max-content;
  }

  &__item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: monospace;
    font-size: 18px;
    padding: 5px;
    user-select: none;
    min-width: 200px;
  }
}
